/* Mengatur style pada seluruh halaman */
.notion-app-inner {
  color: rgb(55, 53, 47);
  background-color: white;
  line-height: 1.5;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
}

/* Mengatur style pada navigation bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  border-color: #fff;
  white-space: nowrap;
  background: rgb(255, 254, 252);
  box-shadow: none;
}

/* Menampilkan garis bawah ketika navbar di scroll */
.navbar.scrolled {
  border-bottom: 1px solid #ccc;
}

/* Mengatur ukuran padding atas pada body */
body {
  padding-top: 100px;
}

/* Mengatur navbar tetap di atas */
.navbar-fixed-top {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}

/* Mengatur style logo aplikasi pada navbar */
.navbar-brand img {
  height: 30px;
  width: fit-content;
  padding: 0;
  margin-top: -5px;
}

/* Mengatur style pada class navbar-default.container */
.navbar-default.container {
  padding-right: 15px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* Mengatur style pada tag main */
main {
  color: rgb(4, 4, 4); 
  fill: currentcolor; 
  line-height: 1.5; 
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; 
  background: rgb(255, 254, 252); 
  font-size: 17px; 
  -webkit-font-smoothing: antialiased;
}

/* Mengatur style pada class container.row */
.container.row {
  display: flex; 
  flex-direction: row; 
  width: 100%;
}

/* Mengatur style pada tag section */
section {
  padding-left: 20px; 
  padding-right: 20px; 
  width: 100%; 
  margin: 0px auto; 
  overflow: visible;
}

/* Mengatur style pada class panel */
.panel {
  border: none;
}

/* Mengatur style pada class panel-default */
.panel-default {
  width: 100%; 
  border-radius: 3px;
}

/* Mengatur style pada class panel-body */
.panel-body {
  width: 100%; 
  max-width: 580px; 
  margin: 0px auto;
}

/* Mengatur style pada class col-md-12 */
.col-md-12 {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

/* Mengatur style pada heading */
h1 {
  font-size: 34px; 
  margin-top: 0; 
  font-weight: 700; 
  margin-bottom: 24px; 
  text-align: center; 
  line-height: 1.1; 
  max-width: 380px;
}

/* Mengatur style pada class notion-login */
.notion-login {
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  max-width: 320px; 
  margin-bottom: 16vh;
}

/* Mengatur style pada class row*/
.row {
  display: flex; 
  flex-direction: column; 
  width: 100%;
}

/* Mengatur style pada class btn-default */
.btn-default {
  user-select: none; 
  transition: 20ms ease-in 0s; 
  cursor: pointer; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  white-space: nowrap; 
  height: 36px; 
  border-radius: 4px; 
  color: rgb(17, 17, 17); 
  font-size: 14px; 
  line-height: 1; 
  padding-left: 12px; 
  padding-right: 12px; 
  font-weight: 500; 
  background: white; 
  border: 1px solid rgba(15, 15, 15, 0.15); 
  width: 100%; 
  box-shadow: rgba(15, 15, 15, 0.05) 0px 1px 2px; 
  margin-bottom: 8px;
}

/* Mengatur style pada class btn-default, tag svg */
.btn-default svg {
  width: 16px; 
  height: 16px; 
  display: block; 
  fill: inherit; 
  flex-shrink: 0; 
  backface-visibility: hidden; 
  margin-right: 6px; 
  margin-bottom: 2px;
} 

/* Mengatur style pada class googleLogo */
.googleLogo{
  width: 14px; 
  height: 14px; 
  display: block; 
  fill: inherit; 
  flex-shrink: 0; 
  backface-visibility: hidden; 
  margin-right: 6px;
}

/* Mengatur style pada class appleLogo */
.appleLogo {
  width: 16px; 
  height: 16px; 
  display: block; 
  fill: inherit; 
  flex-shrink: 0; 
  backface-visibility: hidden;
  margin-right: 6px; 
  margin-bottom: 2px;
}

/* Mengatur style pada class hr */
.hr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  flex: 0 0 auto;
}

/* Mengatur style pada class garis */
.garis {
  max-width: 91%;
  width: 100%;
  border-top: 1px solid rgba(55, 53, 47, 0.16);
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

/* Mengatur style pada class form-group */
.form-group {
  margin-bottom: 4px;
}

/* Mengatur style pada class form-group, tag label */
.form-group label {
  text-align: left;
  margin-left: 5%;
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 450;
  color: rgba(55, 53, 47, 0.65);
}

/* Mengatur style pada class form-group, tag input email */
.form-group input[type="email"] {
  display: inline-flex;
  align-items: center;
  width: 90%;
  font-size: 15px;
  line-height: 26px;
  padding: 4px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
  background: rgba(242, 241, 238, 0.6);
  cursor: text;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
}

/* Mengatur style pada class btn-primary */
.btn-primary {
  user-select: none;
  transition: 20ms ease-in 0s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 36px;
  border-radius: 4px;
  color: rgb(235, 87, 87);
  font-size: 14px;
  line-height: 1;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: 500;
  background-color: rgb(253, 245, 242);
  box-shadow: rgba(15, 15, 15, 0.1) 0px 1px 2px, rgba(235, 87, 87, 0.3) 0px 0px 0px 1px inset;
  margin-top: 4px;
  margin-bottom: 12px;
  width: 90%;
  border: none;
}

/* Mengatur warna ketika kita menaruh kursor di atas btn-primary */
.btn-primary:hover {
  background-color: rgb(250, 235, 232);
}

/* Mengatur warna teks ketika kita menaruh kursor di atas btn-primary */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: rgb(235, 87, 87);
}

/* Mengatur style pada class text-add */
.text-add {
  color: rgba(55, 53, 47, 0.65);
  margin-top: 5px; 
  margin-bottom: 5px;
  font-size: 14px;
}

/* Mengatur style pada class notion-link */
.notion-link {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

/* Mengatur warna ketika kita menaruh kursor di atas notion-link */
.notion-link:hover {
  color: rgb(235, 87, 87);
}

/* Mengatur style pada class text */
.text {
  text-align: center;
}